doctype
html
	head
		title Divyun.com -  The Straight Edge Gooner
		link(rel="stylesheet" href="stylesheets/style-index.css")
		link(href='http://fonts.googleapis.com/css?family=Lato|Karla' rel='stylesheet')
	body
		!= yield